:root {
    --redcolor: red;
    --blackcolor: rgba(7, 7, 7, 0.87);
    --whitecolor: rgba(255, 255, 255, 0.658);
    --orangecolor: rgb(255, 166, 1);
}

.head-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 90px;
    background-color: rgb(255, 255, 255);

    backdrop-filter: blur(10px);
    >.row {
        padding: 0 7%;
        height: 100%;

        >* {
            height: 100%;
            /* border: 2px solid white; */
        }

        >figure {
            width: 25%;
            display: flex;
            align-items: center;
        }

        >nav {
            width: 60%;

            >ul {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-end;

                >li {
                    /* border: 1px solid yellow; */

                    &:first-of-type {
                        >a {
                            color: var(--redcolor);
                        }

                    }

                    &:last-of-type {
                        >a {
                            color: var(--redcolor);
                        }
                    }

                    >a {
                        display: flex;
                        height: 100%;
                        text-transform: capitalize;
                        align-items: center;
                        color: rgb(0, 0, 0);
                        padding: 0 30px;

                        &:hover {
                            color: var(--redcolor);

                        }
                    }

                }
            }
        }

        >div {
            width: 15%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            >a {
                display: flex;
                width: 150px;
                height: 45px;
                background-color: rgb(247, 86, 86);
                color: rgb(255, 253, 253);
                justify-content: center;
                align-items: center;

                /* border-radius: 50px; */
                &:hover {
                    color: rgba(41, 41, 41, 0.596);
                }
            }
        }
    }

}



.div {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/recipe-4@2x.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        width: 100%;
        min-height: 110vh;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(73, 73, 73, 0.342);
    }

    >.txt {
        position: absolute;
        padding: 0 7%;
        top: 30%;
        color: white;
        z-index: 99;

        >* {
            width: 100%;
            text-transform: capitalize;
            /* text-align: center; */
            /* right: 80%; */
            margin-left: -5%;

        }

        >h2 {
            color: white;
            font-size: 60px;
            padding: 40px;

        }

        >p {
            color: var(--favcolor);
            font-size: 25px;
            margin: 7px;

        }

        >a {
            background-color: var(--redcolor);
            color: white;
            padding: 20px 30px;
            margin-left: 5%;
            margin: 30px;

            border-radius: 50px;
            transition: 0.6s;
            padding: 25px;

            &:hover {
                color: rgba(0, 0, 0, 0.541);

            }

        }
    }

}


.sec {
    width: 100%;
    min-height: 100vh;
    background-color: antiquewhite;
    position: relative;

    >.row {
        width: 100%;
        height: 100%;
        padding: 7%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        >figure {
            width: 20%;
            height: 100%;
            margin-right: 30px;

            >img {
                width: 100%;
                height: 80%;
                border-radius: 20px;
                object-fit: cover;
                transition: 0.5s;
                margin-top: 20%;

                &:hover {
                    scale: 1.1;
                }
            }

            >figcaption {
                color: black;
                display: flex;
                justify-content: center;
                padding-left: 20px;
                margin-top: 30px;
                flex-wrap: wrap;
                /* border: 2px solid red; */
                font-size: 20px;
                padding: 10px;

            }

            >p {
                padding: 10px;
                color: var(--redcolor);

                &:hover {
                    color: #1e8449;
                }
            }

        }
    }

}


.hero {
    display: flex;
    min-height: 100vh;
    width: 100%;
   background-color: rgba(247, 193, 224, 0.445);

    >.img {
        width: 50%;

        >img {
            width: 100%;
            height: 90%;
            object-fit: cover;
            margin-top: 5%;
            margin-bottom: 5%;
            padding: 0 5%;
            border-radius: 80px 80px;
        }

    }

    .txt {
        width: 50%;
        padding: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* background: #fff; */

        >h1 {
            font-size: 45px;
            line-height: 1.4;
            margin-bottom: 25px;
            margin-top: 12%;

        }

        .line {
            position: relative;
            color: #c94b3a;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -6px;
                width: 100%;
                height: 3px;
                background-color: #c94b3a;
            }
        }

        >p {
            font-size: 25px;
            color: #3b3a3a;
            margin-bottom: 30px;
        }

        >a {
            background-color: var(--redcolor);
            color: white;
            padding: 10px 20px;
            margin-left: 5%;
            margin: 70px;
            transition: 0.6s;
            padding: 20px;
            margin-top: 2%;
           

            &:hover {
                background-color: black;

            }
        }



    }
}






.centered-text {
  text-align: center;
  padding: 50px 20px 30px 20px;
}

.english{
  font-size: 60px;
  color: #222;
  padding: 60px;
}

.features-container {
  display: flex;
  justify-content: center; 
  gap: 90px; 
  margin: 50px 20px;
}

.feature {
  text-align: center;
  max-width: 250px;
}

.circle {
  width: 250px;
  height: 250px;
  margin: 0 auto 15px auto;
  border-radius: 50%;
  background-color: #f1c40f; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.feature h3 {
  font-size: 25px;
  color: #f33030;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  text-align: center;
}


.t{
    width: 100%;
    height: 100vh;
    background-color: #ffffffad;
        width: 100%;
    min-height: 100vh;
    background-image: url(../images/recipe-2@2x.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        width: 100%;
        min-height: 110vh;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(73, 73, 73, 0.61);
    }
    >.te{
        width: 100%;
        height: 100%;
        /* display: flex; */
        text-align: center;
        padding: 100px;
    
        >h2{
            font-size: 60px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            text-transform: capitalize;
            padding: 0 30px;
            position: relative;
             z-index: 999;
            color: rgb(255, 255, 255);
    
        }
        >p{
            font-size: 25px;
            color: #ff0000;
            padding: 25px 0;
            z-index: 999;
            position: relative;
        }
    
    }
        
}


    /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} */


.fixed-profile {
    position: fixed;
    left: 20px;
    bottom: 7px;
    display: flex;
    align-items: center;
    gap:0;
    z-index: 9999;
}


.title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 13px;
    color: #000000;
    margin-left: -6px;
}


.circle-wrapper {
    position: relative;
    width: 170px;
    height: 170px;
    margin-left: -22px;
}


.circle-wrapper img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #eee;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.icon {
    position: absolute;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #333;
    font-size: 17px;

    opacity: 0;
    transform: scale(6px);
    transition: 0.4s;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.circle-wrapper:hover .icon {
    opacity: 1;
}


.icon:nth-child(5) { top: 10%;left: 75%; }  
.icon:nth-child(3) { top: 30%;left: 85%; }  
.icon:nth-child(4) { top: 53%; left: 85%; }  
.icon:nth-child(2) { top: 73%;left: 75%; } 

.instagram {
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
}

.telegram {
    right: 0;
    top: 50%;
    transform: translateY(-50%) scale(0);
}

.github {
    bottom:0;
    left: 50%;
    transform: translateX(-50%) scale(0);
}

.mail {
   left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0);
}


.circle-wrapper:hover .icon {
    opacity: 1;
    transform: scale(1);
}


.icon:hover {
    background: #ff7a00;
    color: #fff;
}



/* footer */
.txtfooter{
        background-color: rgb(255, 20, 20);
        width: 100%;
        padding: 30px 0;
        >p{
            color: white;
            text-transform: capitalize;
            text-align: center;
            

        }
    }

